node_modules
coverage
*.log
npm-debug.log
.logs
logs
*.sw*
run
*-run
.idea
.DS_Store
package-lock.json
yarn.lock
.env
output
typings
app/public
.search-results
.claude/settings.local.json
.egg
frontend/node_modules
